@font-face {
    font-family: baloo-2;
    src: url(../fonts/baloo-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #e86b6b;
  background: radial-gradient(circle, rgb(233, 184, 123) 0%, #4D1717 100%);
  overflow: hidden;
}

main{
    font-family: baloo-2;
}

main h1{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 2%;
    font-size: 100px;
    color: white;
    font-weight: 900;
}

main h2{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 18%;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

main #streg{
    background: white;
    width: 800px;
    height: 3px;
    position: absolute;
    top: 25%;
    transform: translateX(-50%);
    left: 50%;
}

main #linje{
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 1340px;
    transform: translateX(-50%);
}

#piller{
    width: 300px;
    position: absolute;
    top: 28%;
    left: 5%;
}

#ipren{
    width: 280px;
    position: absolute;
    top: 40%;
    left: 28%;
}

#kanyle{
    width: 220px;
    position: absolute;
    top: 38%;
    right: 30%;
}

#support{
    width: 220px;
    position: absolute;
    top: 45%;
    right: 10%;
}

p{
    color: white;
}

.overskrift{
    font-weight: 600;
    font-size: 30px;
}

.mindre{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#p-1{
    position: absolute;
    top: 62%;
    left: 5%;
}

#p-2{
    position: absolute;
    top: 68%;
    left: 6.5%;
}

#p-3{
    position: absolute;
    top: 35%;
    left: 30%;
}

#p-4{
    position: absolute;
    top: 68%;
    left: 55%;
}


main h3{
    position: absolute;
    left: 4%;
    bottom: 9%;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.circle article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    left: 15%;
}

.circle-2 article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle-2 {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    right: 10%;
}

#circle-4{
    background: white;
}
