@font-face {
    font-family: baloo-2;
    src: url(../fonts/baloo-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #e86b6b;
  background: radial-gradient(circle, rgb(233, 184, 123) 0%, #4D1717 100%);
  overflow: hidden;
}

main{
    font-family: baloo-2;
}

main #kvinde{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 430px;
    bottom: 10%;
}

main h1{
    color: white;
    font-size: 90px;
    position: absolute;
    left: 12%;
    top: 5%;
    text-transform: uppercase;
}

main p{
    color: white;
}


main #p-1{
    text-align: center;
    font-size: 30px;
    width: 450px;
    line-height: 35px;
    position: absolute;
    top: 25%;
    left: 4%;
}

main #p-2{
    text-align: center;
    font-size: 50px;
    width: 60px;
    line-height: 35px;
    position: absolute;
    top: 45%;
    left: 7%;
}

main #p-3{
    font-size: 28px;
    line-height: 35px;
    position: absolute;
    top: 51%;
    left: 13%;
}

main #emoji-1{
    font-size: 80px;
    position: absolute;
    top: 49%;
    left: 6%;
}

main #p-4{
    font-size: 60px;
    position: absolute;
    top: 12%;
    right: 10%;
}

main #emoji-2{
    font-size: 110px;
    position: absolute;
    top: 8%;
    right: 26%;
}

main h3{
    position: absolute;
    left: 4%;
    bottom: 9%;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

main #linje{
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 1340px;
    transform: translateX(-50%);
}

.circle article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    left: 15%;
}

.circle-2 article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle-2 {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    right: 10%;
}

#circle-3{
    background: white;
}
