@font-face {
    font-family: baloo-2;
    src: url(../fonts/baloo-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  height: 100%;
  background: #e86b6b;
  background: radial-gradient(circle, rgb(233, 184, 123) 0%, #4D1717 100%);
  overflow: hidden;
}

main{
    font-family: baloo-2;
}

main #livmoder{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 1390px;
    bottom: 0%;
}

main #p-1{
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 30px;
    width: 420px;
    line-height: 38px;
    color: white;
}

main #p-2{
    position: absolute;
    right: 5%;
    bottom: 25%;
    font-size: 30px;
    width: 420px;
    line-height: 38px;
    color: white;
}

main #p-3{
    position: absolute;
    left: 5%;
    top: 37%;
    font-size: 30px;
    width: 460px;
    line-height: 38px;
    color: white;
}

main #p-4{
    position: absolute;
    left: 5%;
    bottom: 28%;
    font-size: 30px;
    width: 420px;
    line-height: 38px;
    color: white;
}

main h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    font-size: 100px;
    color: #EF4747;
}

main h3{
    position: absolute;
    left: 4%;
    bottom: 9%;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}


main #linje{
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 1340px;
    transform: translateX(-50%);
}

.circle article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    left: 15%;
}

.circle-2 article{
    background: rgba(255, 255, 255, 0.457);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.circle-2 {
    display: flex;
    flex-direction: row;
    gap: 140px;
    bottom: 5.5%;
    position: absolute;
    right: 14%;
}

#circle-2{
    background: white;
}




nav {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  nav button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #2e2e2e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .button-link {
    display: inline-block;
    font-family: 'baloo-2';
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
    z-index: 10000;
  }
  
  .button-link:hover {
    background-color: #ffffff;
  }