
.hjerne-h1 {
    right: -280px;
    top: 30px;
    position: absolute;
    transform: scale(1.2);
}

.hjerne-tekst h1 span {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    color: white;
}

.hjerne-tekst h1 span:nth-child(1) {
    font-size: 140px;
    transform: rotate(-18deg);
    top: 40px;
    right: 810px;
}

.hjerne-tekst h1 span:nth-child(2) {
    font-size: 70px;
    transform: rotate(-9deg);
    top: 170px;
    right: 860px;
}

.hjerne-tekst h1 span:nth-child(3) {
    font-size: 100px;
    top: 140px;
    right: 730px;
}

.hjerne-tekst h1 span:nth-child(4) {
    font-size: 80px;
    transform: rotate(10deg);
    top: 170px;
    right: 610px;
}

.hjerne-tekst h1 span:nth-child(5) {
    font-size: 170px;
    transform: rotate(-2deg);
    top: 220px;
    right: 750px;
}

.hjerne-tekst h1 span:nth-child(6) {
    font-size: 100px;
    transform: rotate(7deg);
    top: 280px;
    right: 570px;
}

.hjerne-tekst h1 span:nth-child(7) {
    font-size: 100px;
    transform: rotate(12deg);
    top: 300px;
    right: 510px;
}

.hjerne-tekst h1 span:nth-child(8) {
    font-size: 130px;
    transform: rotate(4deg);
    top: 400px;
    right: 520px;
}

.hjerne-tekst h1 span:nth-child(9) {
    font-size: 240px;
    transform: rotate(4deg);
    top: 340px;
    right: 430px;
}

.st-hover {
    cursor: pointer;
    transition: transform 0.2s ease,
}

#st6:hover ~ #st1, #st6:hover ~ #st3, #st6:hover ~ #st4, #st6:hover ~ #st5 {
    opacity: 0.5;
}

#brain-tekst {
    color: white;
    line-height: 1;
    width: 80%;
}

#st-tekst {
    font-size: 120px;
    font-weight: 800;
    padding-bottom: 50px;
}

#st-p {
    font-size: 60px;
    font-weight: 500;
    margin-top: 0;
}