
.hjerne-h1 {
    right: -430px;
    top: 30px;
    position: absolute;
    transform: scale(1.1);
}

.hjerne-tekst h1 span {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    color: white;
}

.hjerne-tekst h1 span:nth-child(1) {
    font-size: 140px;
    top: 25px;
    right: 450px;
    font-weight: 800;

}

.hjerne-tekst h1 span:nth-child(2) {
    font-size: 130px;
    top: 130px;
    right: 1070px;
    font-weight: 800;

}

.hjerne-tekst h1 span:nth-child(3) {
    font-size: 130px;
    top: 130px;
    right: 480px;
    font-weight: 800;
}

.hjerne-tekst h1 span:nth-child(4) {
    font-size: 90px;
    top: 280px;
    right: 820px;
    font-weight: 500;
}

.hjerne-tekst h1 span:nth-child(5) {
    font-size: 70px;
    top: 295px;
    right: 500px;
    font-weight: 500;
}

.hjerne-tekst h1 span:nth-child(6) {
    font-size: 70px;
    top: 360px;
    right: 570px;
    font-weight: 500;
}

.hjerne-tekst h1 span:nth-child(7) {
    font-size: 110px;
    top: 420px;
    right: 480px;
    font-weight: 500;
}

.st-hover {
    cursor: pointer;
    transition: transform 0.2s ease,
}

#brain-svg:hover .st-hover {
    opacity: 0.5;
  }
  
  #brain-svg .st-hover:hover {
    opacity: 1;
  }

#brain-tekst {
    color: white;
    line-height: 1;
    width: 80%;
}

#st-tekst {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 50px;
}

#st-p {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
}

.tegn {
    font-size: 220px;
    position: absolute;
    top: 10px;
    left: 520px;
    transform: rotate(-15deg);
}

.tegn:nth-child(4) {
    font-size: 370px;
    top: 10px;
    left: 600px;
    transform: rotate(15deg);
    -webkit-text-stroke: 10px white;
}


.pink {
    color: #e5007e;
}

.orange {
    color: #f8b133;
}

.green {
    color: #93c01f;
}

.yellow {
    color: #ffec00;
}

.blue {
    color: #35a8e0;
}