@font-face {
    font-family: baloo-2;
    src: url(../fonts/baloo-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: #e86b6b;
    background: radial-gradient(circle, rgba(232, 107, 107, 1) 0%, rgba(255, 212, 212, 1) 100%);
}

main img{
    width: 900px;
    position: absolute;
    transform: translate(-50%, 10%);
    left: 50%;
}

main h1{
    font-family: baloo-2;
    font-weight: bold;
    position: absolute;
    left: 7.5%;
    top: 56%;
    font-size: 50px;
    color: #4D1717;
}

main h2{
    font-family: baloo-2;
    font-weight: 300;
    width: 420px;
    color: #4D1717;
    position: absolute;
    left: 7.5%;
    top: 70%;
    font-size: 30px;
    line-height: 42px;
}

#pil{
    position: absolute;
    top: 25%;
    left: 28%;
    width: 590px;
}



main h3{
    color: white;
    text-shadow: 2px 2px 8px #aa3c4c;
    font-family: baloo-2;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    bottom: 4%;
    right: 4%;
    animation: puls 1.8s ease-in-out infinite;
}

@keyframes puls {
    0% {
      transform: scale(1);
      text-shadow: 2px 2px 8px #aa3c4c;
    }
    50% {
      transform: scale(1.08);
      text-shadow: 3px 3px 12px #ff6b81;
    }
    100% {
      transform: scale(1);
      text-shadow: 2px 2px 8px #aa3c4c;
    }
  }

  .fullscreen-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }