@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo';
    background-color: white;
    color: black;
    overflow-x: hidden;
    background: linear-gradient(135deg, #FB809B, #FFE2B6);
}

.tekst {
  width: 40%;
}

#hjerne-img {
  width: 60%;
}

#krop-video {
  height: 700vh;
}

.video {
  height: 460vh;
  position: absolute;
  top: -60vh;
  right: -30%;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;

}

.heart-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .circle-button {
    background: radial-gradient(circle at center, #e63946, #d62828);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .circle-button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20rem;
    padding: 1rem;
    width: 40%;
    position: absolute;
    right: 0;
  }
  
  .horizontal-scroll > article {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 2rem;
    width: 100%;
  }

  #brain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }

  #heart {
    height: 100vh;
  }

  #stomach {
    height: 100vh;
  }

  #uterus {
    height: 100vh;
  }

  .valg-knapper {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .valg-knap {
    font-family: 'Baloo 2', cursive;
    background-color: #FFAF65;
    color: #4D1717;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .valg-knap:hover {
    background-color: #FFAF65;
    transform: scale(1.05);
  }
  