@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo';
    background-color: white;
    color: black;
    overflow-x: hidden;
    background: linear-gradient(135deg, #FB809B, #FFE2B6);
}

.tekst {
  width: 40%;
}

#hjerne-img {
  width: 60%;
}

#krop-video {
  height: 700vh;
}

.video {
  height: 460vh;
  position: absolute;
  top: -60vh;
  right: -30%;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;

}
  
  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 40rem;
    padding: 1rem;
    width: 40%;
    position: absolute;
    right: 0;
  }
  
  .horizontal-scroll > article {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 2rem;
    width: 100%;
  }

  #brain {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }

  #heart {
    height: 100vh;
  }

  #stomach {
    height: 100vh;
  }

  #uterus {
    height: 100vh;
  }

  .valg-knapper {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .valg-knap {
    font-family: 'Baloo 2', cursive;
    background-color: #FFAF65;
    color: #4D1717;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .valg-knap:hover {
    background-color: #FFAF65;
    transform: scale(1.05);
  }

  /* Fælles for scroll-highlight spans */
.scroll-highlight {
    white-space: pre-line;
  }
  
  /* Kun 'Vejer<br>mere' - scroll-highlight UDEN .question */
  .scroll-highlight:not(.question) {
    font-size: 2.5em;
    color: #FF7A7A;
    font-weight: bold;
    line-height: 1; /* Reducer linjeafstanden generelt */
    text-shadow:
      -1px -1px 0 #ffffff,
       1px -1px 0 #ffffff,
      -1px  1px 0 #ffffff,
       1px  1px 0 #ffffff;
  }
  
  .scroll-highlight:not(.question) span {
    vertical-align: -0.2em; /* Juster den vertikale afstand */
  }
  
  
  /* Kun spørgsmålstegnet */
  .scroll-highlight.question {
    font-size: 4em;
    color: #EA2A37;
    font-weight: bold;
    text-shadow:
      -1px -1px 0 #ffffff,
       1px -1px 0 #ffffff,
      -1px  1px 0 #ffffff,
       1px  1px 0 #ffffff;
  }
  
 
  