@font-face {
  font-family: baloo-2;
  src: url(../fonts/baloo-2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
height: 100%;
background: #e86b6b;
background: radial-gradient(circle, rgb(207, 6, 6) 0%, rgba(255, 212, 212, 1) 100%);
overflow: hidden;
}

main h1{
  font-family: baloo-2;
  font-weight: bold;
  position: absolute;
  left: 4%;
  top: 20%;
  font-size: 50px;
  color: #4D1717;
}

main img{
  width: 1200px;
  position: absolute;
  transform: translate(-50%, -30%);
  left: 50%;
}

main h2{
font-family: baloo-2;
font-weight: 300;
width: 480px;
color: #4D1717;
position: absolute;
left: 4%;
top: 30%;
font-size: 35px;
line-height: 45px;
}

main p{
  font-family: baloo-2;
  font-weight: 300;
  width: 480px;
  color: #4D1717;
  position: absolute;
  left: 4%;
  top: 45%;
  font-size: 35px;
  line-height: 45px;
}

.cyklus{
  background-color: #F9C1C1;
  position: absolute;
  color:#4D1717;
  border-radius: 25px;
  font-family: baloo-2;
  top: 60%;
  width: 210px;
  padding: 20px;
  left: 6%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 25px;
  border: #FB809B solid 4px;
  transition: ease 0.8s;
  cursor: pointer;
}

.cyklus:hover{
  transform: scale(1.1);
}

.endometriose{
  background-color: #F9C1C1;
  position: absolute;
  color:#4D1717;
  border-radius: 25px;
  font-family: baloo-2;
  top: 55%;
  width: 260px;
  padding: 25px;
  right: 10.5%;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
  border: #FB809B solid 4px;
  transition: ease 0.8s;
  cursor: pointer;
}

.endometriose:hover{
  transform: scale(1.1);
}

.endometriose-tekst{
  position: absolute;
  right: 6%;
  top: 35%;
  font-family: baloo-2;
  font-size: 50px;
  width: 390px;
  text-align: center;
  line-height: 35px;
  color: #4D1717;
}

h6{
  font-weight: lighter;
  margin-top: 20px;
}


@keyframes puls {
  0% {
    transform: scale(1);
    text-shadow: 2px 2px 8px #aa3c4c;
  }
  50% {
    transform: scale(1.08);
    text-shadow: 3px 3px 12px #ff6b81;
  }
  100% {
    transform: scale(1);
    text-shadow: 2px 2px 8px #aa3c4c;
  }
}

.fullscreen-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}