@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', sans-serif;
    background: #9BC5CF;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
  }
  
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.krop-img img {
    width: 300px;
    height: auto;
    position: absolute;
    top: 40px;
    z-index: -1;
    justify-content: center;
}

.spg-button {
    background: lightcoral;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: 4px solid darkred;
    width: 400px;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 36.6%;
    font-size: 1.3rem;
}

.spg-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.spg-header {
    position: absolute;
    left: 100px;
    top: 70px;
    max-width: 500px;
    font-size: 1.5rem;
}

.spg-header h2 {
    line-height: 3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

hr {
    width: 220px;
    height: 4px;
    background-color: #fff;
    border: none;
}

.spg-titel h3 span{
    display: inline-block;
    position: absolute;
    color: white;
    max-width: 750px;
}

.spg-titel h3 span:nth-child(1) {
    font-size: 3rem;
    transform: rotate(-12deg);
    top: 350px;
    left: 80px;
    line-height: 3rem;
    max-width: 500px;
}

.spg-titel h3 span:nth-child(2) {
    font-size: 4.5rem;
    transform: rotate(4deg);
    top: 600px;
    left: 220px;
}

.spg-titel h3 span:nth-child(3) {
    font-size: 3rem;
    top: 50px;
    right: 80px;
    line-height: 3rem;
    max-width: 500px;
}

.spg-titel h3 span:nth-child(4) {
    font-size: 4rem;
    transform: rotate(10deg);
    top: 260px;
    right: 170px;
}

.spg-titel h3 span:nth-child(5) {
    font-size: 6rem;
    transform: rotate(-5deg);
    top: 400px;
    right: 270px;
}

.spg-titel h3 span:nth-child(6) {
    font-size: 3.5rem;
    transform: rotate(7deg);
    top: 650px;
    right: 50px;
}

.spg-titel h3 span:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#hjerne {
    height: 50px;
    width: auto;
    position: absolute;
    transform: translateX(-50%);
    top: 45px;
}

#hjerte {
    height: 70px;
    width: auto;
    position: absolute;
    transform: translateX(-50%);
    top: 250px;
}

#tarmsystem {
    height: 140px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;
}

#livmoder {
    height: 80px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 510px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9CC5D0;
    background: radial-gradient(circle,  rgba(255, 212, 212, 1) 0%,rgba(156, 197, 208, 1) 50%);
    padding: 20px;
    border: 2px solid  rgba(255, 212, 212, 1);
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 1350px;
    height: 750px;
    transition: all 0.3s ease;
  }
  

  #overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .popup-h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 60px;
  }  

  .popup-tekst{
    font-family: 'Baloo 2', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 200px;
    left: 75px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 200px;
    text-align: center;
  }

.spg {
    max-width: 500px;
}

.spg h3 {
    line-height: 2.2rem;
    margin-bottom: 5px;
}

#red-bubble {
    width: 600px;
    height: 600px;
    border-radius: 1000px;
    background: #d27272;
    filter: blur(100px);
    position: absolute;
    top: 200px;
    left: 0;
    transition: transform 2s ease-in-out;
    z-index: -1;
  }

  #orange-bubble {
    width: 600px;
    height: 600px;
    border-radius: 1000px;
    background: #f0b67f;
    filter: blur(100px);
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 2s ease-in-out;
    z-index: -1;
  }

  .kropsdele {
    display: flex;
    justify-content: center;
  }

  .krop-img {
    opacity: 0.5;
    display: flex;
    justify-content: center;
  }

  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
    z-index: 10000;
  }
  
  .button-link:hover {
    background-color: #ffffff;
  }